.wrapper
  - if @picture && @picture.errors.any?
    #error_explanation
      %h2= "#{pluralize(@picture.errors.count, "error")} prohibited this picture from being saved:"
      %ul
        - @picture.errors.full_messages.each do |msg|
          %li= msg

  = s3_uploader_form callback_url: pictures_url,
    callback_param: "picture[direct_upload_url]",
    id: 'image-uploader',
    max_file_size: 5.megabytes,
    data: { remote: true } do
    .field{:style => 'max-width: 210px'}
      = label_tag :image
      = file_field_tag :file, id: 'image'
      %button.submit.btn.btn-default Upload

  %output.row-fluid
    #image-list
    #upload-container{:style => 'max-width: 210px'}

  %script#template-upload{:type => "text/x-tmpl"}
    :cdata
      <div id="file_{%=o.unique_id%}" class="upload row"><h5>{%=o.name%}</h5><div class="progress progress-striped active"><div class="bar progress-bar" style="width: 0%; max-width: 50%"></div></div></div>
