.pictures.row
  - pictures.each do |picture|
    .image.col-xs-6.col-md-3
      = image_tag picture.image.url, class: 'thumbnail height-200'
      %p= picture.name
      - if picture.imageable
        %span= picture.imageable.title
      %p
        = link_to 'Show', picture
        /|
        = link_to 'Remove', picture, :method => :delete, :data => { :confirm => 'Are you sure?', :remote => true }, class: 'remove'
