= form_for @post, class: 'form-horizontal' do |f|
  - if @post.errors.any?
    #error_explanation.form-group
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label :title, class: 'control-label'
    = f.text_field :title, class: 'form-control'
  .field.form-group
    = f.label :content, class: 'control-label'
    = f.text_area :content, rows: 7, class: 'form-control'
  .actions.form-group
    = f.submit 'Save', class: 'btn btn-block btn-primary'

  #post-attachments
  - @post.pictures.each do |picture|
    = hidden_field_tag 'images[]', picture.id
  - @post.attachments.each do |attachment|
    = hidden_field_tag 'attachments[]', attachment.id

