.row
  - if notice
    %p#notice.alert.alert-sucess.bg-success{ :role => 'alert' }
      = notice

.page-header
  %h2= @post.title
%p
  = @post.content

= render 'pictures/list', pictures: @post.pictures
= render 'attachments/list', attachments: @post.attachments

= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary btn-block'
= link_to 'Back', posts_path, class: 'btn btn-default btn-block'
